:root {
	--background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
	--button-color: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
	--color-text: #E0E0E0;
	--font-primary: 'Poppins', sans-serif;
	--white: #FFFFFF;
}

body {
	background: var(--background);
	color: var(--color-text);
	font-family: var(--font-primary);
	font-weight: 400;
	font-size: 16px;
}