.header-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 2rem;
	padding: 1rem 0;
}

.header__time--hour {
	font-size: 144px;
	font-weight: 700;
}

.header__time--date {
	display: flex;
	justify-content: center;
	font-size: 14px;
}

.weather__locality {
	font-size: 14px;
}

.weather__temperature {
	font-size: 48px;
	font-weight: 700;
}